.main {
    margin-top: 5% 0;
}

.game {
    height: 600px;
    width: 600px;
    margin: 0 auto;
}
.game table {
    width: 100%;
    height: 100%;
}
.game>table {
    table-layout: fixed;
}
.game>table>tbody>tr>td {
    padding: 0;
}
.game>table>tbody>tr>td table {
    table-layout: fixed;
}
