.options {
    width: 600px;
    margin: 0px auto;
    padding: 10px 0;
}
.options .difficulty {
    text-align: center;
    padding: 3% 0;
}
.options .difficulty .selected {
    border: 1px solid #FFFFFF;
}
.options .difficulty .option {
    display: inline-block;
    width: 32%;
    padding: 3% 0;
    cursor: pointer;
}
