.options {
    width: 600px;
    margin: 0px auto;
    padding: 1% 0;
}
.options .difficulty {
    text-align: center;
    padding: 1% 0;
}
.options .difficulty .selected {
    border: 1px solid #FFFFFF;
}
.options .difficulty .option {
    display: inline-block;
    width: 32%;
    padding: 1% 0;
    cursor: pointer;
}

/* Smartphones-portrait */
@media only screen and (max-width : 599px) and (orientation: portrait) {
    .options {
        width: 300px;
        margin: 0px auto;
        padding: 5px 0;
    }
}
/* Smartphones-landscape */
@media only screen and (max-width : 599px) and (orientation: landscape) {
    .options {
        width: 320px;
        margin: 0px auto;
        padding: 5px 0;
    }
}
